@font-face {
  font-family: "geist";
  src: url("../fonts/Geist-Regular.woff") format("woff");
}

@font-face {
  font-family: "geist-variable";
  src: url("../fonts/GeistVF.woff") format("woff");
}

body {
  font-family: geist;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 1.7em;
  padding: 2em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(237, 237, 237, 0.33);
  color: rgba(15, 15, 15, 1);
}

a {
  text-decoration: none;
  transition: all 0.2s ease;
  color: #2077B2;
}

a:visited {
  text-decoration: none;
  transition: all 0.2s ease;
  color: #2077B2;
}

a:hover {
  text-decoration: underline;
  color: #154D73;
}

main {
  max-width: 780px;
}

h1.title {
  margin-bottom: 0;
  font-family: geist-variable;
  font-weight: 500;
  font-size: 40px;
}

ul.posts {
  list-style-type: none;
  margin: 0 0.5em 0 0;
  padding: 0;
}

ul.posts li {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
}

ul.posts li a {
  font-size: 1.5em;
}

em.published-at {
  font-size: 0.8em;
  color: gray;
}

div.tags {
  margin: 2em 0.5em 0;
  font-size: 0.7em;
}

div.tags ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  max-width: 80%;
}

div.tags li {
  margin-right: 5px;
}

div.tags p {
  font-weight: bold;
  margin: 0 0 0.5em;
}

div.nav {
  font-size: 0.8em;
  display: flex;
  align-items: center;
}

div.nav a {
  margin: 0 0.5em;
}

div.nav a:first-child {
  margin: 0 0.5em 0 0;
  font-size: 2.0em;
  white-space: none;
  color: #000;
}

code {
  background-color: #FFF;
  padding: 2px;
}

pre code.hljs {
  padding: 1px 3px;
  overflow-x: scroll;
  font-size: 16px;
  background-color: #FFFFFF;
}

p code {
  font-size: 15px;
}

div#mc_embed_signup {
  margin-top: 10px;
  padding: 5px 0;
  background-color: #f4f4ed;
}

div#mc_embed_signup form {
  width: 510px;
  margin: 0 auto;
}

div#mc_embed_signup h2 {
  font-size: 1.2em;
}

div.mc-field-group {
  font-size: 0.8em;
  justify-content: flex-end;
  align-content: center;
  width: 300px;
  margin: 0 auto;
  display: flex;
}

div.mc-field-group input.email {
  width: 100%;
}

input#mc-embedded-subscribe {
  border-radius: 2px;
  border: none;
  margin-top: 5px;
  background-color: #2AC141;
  color: white;
}

input#mc-embedded-subscribe:hover {
  cursor: pointer;
}

div.optionalParent {
  display: flex;
  justify-content: flex-end;
}

p.brandingLogo img {
  width: 170px;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: rgba(23, 23, 23, 1);
    color: rgba(213, 213, 213, 1);
  }

  h1.title {
    color: rgba(225, 225, 225, 1);
  }
  
  a {
    color: rgba(243, 243, 243, 1);
  }

  a:visited {
    color: rgba(243, 243, 243, 1);
  }

  a:hover {
    color: rgba(210, 210, 210, 1);
  }

  em.published-at {
    color: gray;
  }

  div.nav a, div.tags a, div.tags p {
    color: rgba(162, 162, 162, 1);
  }

  code {
    background-color: #000;
  }

  pre code.hljs {
    background-color: #000;
  }

  div#mc_embed_signup {
    background-color: #f4f4ed;
  }

  input#mc-embedded-subscribe {
    background-color: #2AC141;
    color: white;
  }
}
